fne.eventing.client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="server">
          <xs:complexType>
            <xs:attribute name="url" type="xs:string" use="required" />
            <xs:attribute name="useSignalR" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>